@import url('./assets/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --deep-indigo: #22223b;
    --charcoal: #4a4e69;
    --soft-gray: #9a8c98;
    --beige: #c9ada7;
    --light-beige: #f2e9e4;
    --font-size-xs: 10px;
}

#app-container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#app-container-main {
    flex: 1;
    background-color: var(--light-beige);
}
